  <textarea rows="6" cols="70">
    স্যাট একাডেমীতে আপনি বাংলায় প্রোগ্রামিং শিখতে পারবেন।
  </textarea>

  <input type="text" placeholder="Your Name">

    <ul class="TopMenu">
    <li><a href="#">Home</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Contact us</a></li>
  </ul>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ul style="list-style-type:none">
     <li><i class="fa fa-home"></i> Home </li>
     <li><i class="fa fa-info"></i> About </li>
     <li><i class="fa fa-address-card"></i> Contact </li>
     <li><i class="fa fa-list"></i> Categories </li>
</ul>


<ol type="A">
   <li> Item One </li>
   <li> Item Two </li>
</ol>

<ol type="a">
   <li> Item One </li>
   <li> Item Two </li>
</ol>

<ol type="I">
   <li> Item One </li>
   <li> Item Two </li>
</ol>

<ol type="i">
   <li> Item One </li>
   <li> Item Two </li>
</ol>


<thead style="background:silver;">...</thead>