{% load static %}


<!--   <textarea rows="6" cols="70">
    স্যাট একাডেমীতে আপনি বাংলায় প্রোগ্রামিং শিখতে পারবেন।
  </textarea>

  <input type="text" placeholder="Your Name">

    <ul class="TopMenu">
    <li><a href="#">Home</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Contact us</a></li>
  </ul>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ul style="list-style-type:none">
     <li><i class="fa fa-home"></i> Home </li>
     <li><i class="fa fa-info"></i> About </li>
     <li><i class="fa fa-address-card"></i> Contact </li>
     <li><i class="fa fa-list"></i> Categories </li>
</ul>


<ol type="A">
   <li> Item One </li>
   <li> Item Two </li>
</ol>

<ol type="a">
   <li> Item One </li>
   <li> Item Two </li>
</ol>

<ol type="I">
   <li> Item One </li>
   <li> Item Two </li>
</ol>

<ol type="i">
   <li> Item One </li>
   <li> Item Two </li>
</ol>


<thead style="background:silver;">...</thead> -->


<!-- <style>
    table, th, td{
border:1px solid #ddd;
border-collapse:collapse;
padding:5px 0px;
text-align:center;
}
thead{background:#3b5998;color:#fff;}
tfoot{font-size:22px;}
</style>

<table width="100%;">
  <caption style="padding:10px 0px;font-size:22px;color:green;">কুসুম পুরা সরকারী প্রাথমীক বিদ্যালয় </caption>
	<thead>
		<tr>
			<th> ছাত্র ছাত্রীর নাম </th>
			<th> জর্ম্ম তারিখ </th>
			<th> ঠিকানা </th>
			<th> রোল নং </th>
			<th> গ্রুপ - শ্রেনী </th>
		</tr>
	</thead>
        <tbody>
		<tr>
			<td> আরেফুল ইসলাম </td>
			<td> ১৮ - ০২ - ২০০৩ইং </td>
			<td> কুসুম পুরা </td>
			<td> ০১ </td>
			<td rowspan="3"> প্রথম শ্রেনী  <br> A গ্রুপ  </td>
		</tr>
		<tr>
			<td> শাইফুল ইসলাম </td>
			<td> ০৫ - ০৫ - ২০০৪ইং </td>
			<td> কুসুম পুরা </td>
			<td> ০২ </td>
		</tr>
		<tr>
			<td> শাহেদা শিরীন </td>
			<td> ০৮ - ০৪ - ২০০৩ইং </td>
			<td> জিরি </td>
			<td> ৫০ </td>
		</tr>
		<tr>
			<td> মাজেদুল ইসলাম </td>
			<td> ১০ - ১২ - ২০০২ইং </td>
			<td> কুসুম পুরা </td>
			<td> ০১ </td>
			<td rowspan="2"> প্রথম শ্রেনী  <br> B গ্রুপ </td>
		</tr>

		<tr>
			<td>  আতিকুল ইসলাম </td>
			<td> ২০ - ০৭ - ২০০৩ইং </td>
			<td> কৈয়গ্রাম </td>
			<td> ৫০ </td>
		</tr>

		<tr>
			<td style="background:#E1E8ED;" colspan="5">  দ্বিতীয় শ্রেনীর ছাত্র ছাত্রীর তালিকা </td>
		</tr>

		<tr>
			<td> মাসুদ করিম </td>
			<td> ০৮ - ০৫ - ২০০১ইং </td>
			<td> কুসুম পুরা </td>
			<td> ০১ </td>
			<td rowspan="3">  দ্বিতীয় শ্রেনী  <br> A গ্রুপ </td>
		</tr>
		<tr>
			<td> মাহিমা মমতাজ </td>
			<td> ০৫ - ০৪ - ২০০০ইং </td>
			<td> চাপরী </td>
			<td> ০২ </td>
		</tr>
		<tr>
			<td> আয়েশা খাতুন </td>
			<td> ০৯ - ১১ - ২০০২ইং </td>
			<td> বিনিনিহারা </td>
			<td> ৪০ </td>
		</tr>
		<tr>
			<td> আশিকুল হক </td>
			<td> ১৬ - ১২ - ২০০১ইং </td>
			<td> কুসুম পুরা </td>
			<td> ০১ </td>
			<td rowspan="2"> দ্বিতীয় শ্রেনী  <br> B গ্রুপ </td>
		</tr>

		<tr>
			<td> রুহুল্লাহ নছীম </td>
			<td> ২০ - ০৯ - ২০০০ইং </td>
			<td> কৈয়গ্রাম </td>
			<td> ৫০ </td>
		</tr>

		<tfoot>
			<td colspan="5">  সমাপ্ত </td>
		</tfoot>

	</tbody>
</table> -->


<!-- <select name="Tutorials">
  <option value="HTML">HTML</option>
  <option value="CSS">CSS</option>
  <option value="JavaScript">JavaScript</option>
  <option value="PHP">PHP</option>
</select>

<form action="my-search-bar.php">
      <input type="text" placeholder="Search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form> -->
<!--     <style >
    	#blue{
    		
    		background-color: blue;
    		margin: 5px;
    		padding: 5px;
    		/*border-width: 5px;*/
    		border: circle;

    	}
    </style>
    

<link rel='stylesheet' href="{% static  'css/home.css' %}">

    <div id="blue" >
    	hello
    </div> -->



   <!--  application of div tag with class and id attritute -->

   <!-- simple div tag with inline css -->
<!-- <div class="container">
	<div class="row">
		<div class="one" style="color:black; padding: 20px; margin: 2px; border:2px red solid">
			<h1>hello world</h1>
		</div>
		<div id="two" style="color: red; padding:5px; margin: 10px; border: gray dotted 10px;">helo world </div>
	</div>
	
</div> -->

<!-- <div class="container">
	<div class="main" style="border: blue 50px solid;  padding: 10px; margin: 15px;">
		<h1>main</h1>
		<div class="left" style="text-align: left; border: solid 1px red; border-width: 2px;box-shadow: 2px; margin-right: autos; padding: 1px; background-color: blue;">i am heft </div>
		<div class="right" style="text-align: right">i am right </div>
		<div class="center" style="text-align: center;">i am center </div>
		<div class="table">
			<table>
				<ul>
					<li>
						i am table
					</li>
				</ul>
			</table>
		</div>


	</div>
	
</div> -->

<!-- <div class="container">
	<div class=" row">
		<div class="col-sm-4">
			<div>i am div</div>
		</div>
				<div class="col-sm-4">
			<div>i am div</div>
		</div>
				<div class="col-sm-4">
			<div>i am div</div>
		</div>
				<div class="col-sm-4">
			<div>i am div</div>
		</div>
				<div class="col-sm-4">
			<div>i am div</div>
		</div>
	</div>
	
</div> -->

<div class="one" style="border:solid 2px blue; border-width:10px; border-bottom-right-radius: 10px; " >
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>