/* style id attribute */
#one{
  color:blue;
}

/* style class attribute */
.two{
  color:red;
}

/* style sub-attribute  */
.three p.sub-three{
  color:green;
}

/* style nested div attribute */
#six h2{
  color:skyblue
}


/* style holy body */
.body{
  background-color:slategray;
}