.one{
    color:green;
    background-color:red;
    border: outset gray 14px;
    margin:20px;
    padding: 10px;
}

#two{
    color:blue;
    background-color: black;
    border: inset red 13px;
    margin: 10px;
    padding: 10px;

}